<h2>
    Members
</h2>

<em *ngIf="members.length == 0">No registered members.</em>
<table [hidden]="members.length == 0" class="simpletablestyle">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone #</th>
      <th>Action</th>
    </tr>
  </thead>

  <tr *ngFor="let member of members; index as memberId">

    <td>{{ member.id }}</td>
    <td>{{ member.name }}</td>
    <td *ngIf="member.email">
      {{ member.email }}
    </td>
   <td *ngIf="!member.email">
      Undefined
    </td>
    <td *ngIf="member.phoneNumber">
      {{ member.phoneNumber }}
    </td>
   <td *ngIf="!member.phoneNumber">
      Undefined
    </td>
    <td>
      <a title="Modify" [routerLink]="['/regmember', member.id]">
	Modify
      </a>
    </td>
  </tr>
</table>

<div>
  <button (click)="refresh()">
    Refresh
  </button>
  <button [routerLink]="['/regmember', -1]">
    Add member
  </button>
</div>
