<h2>Members</h2>

<em *ngIf="members.length == 0">No registered members.</em>
<table [hidden]="members.length == 0" class="simpletablestyle">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone #</th>
      <th>REST URL</th>
    </tr>
  </thead>

  <tr *ngFor="let member of members; index as memberId">

    <td>{{ memberId }}</td>
    <td>{{ member.name }}</td>
    <td *ngIf="member.email">
      {{ member.email }}
    </td>
   <td *ngIf="!member.email">
      Undefined
    </td>
    <td *ngIf="member.phoneNumber">
      {{ member.phoneNumber }}
    </td>
   <td *ngIf="!member.phoneNumber">
      Undefined
    </td>
    <button (click)="modify()">
      Modify
    </button>
  </tr>
</table>

<div>
        REST URL for all members: <a href="localhost:8080/kitchensink-angularjs/rest/members">/rest/members</a>
</div>
<button (click)="refresh()">
  Refresh
</button>
